.pokeTypeButton {
   /* width: 50%; */
   /* height: 34px; */
   width: 120px;
   height: 40px;
   background-color: #FC7D23;
   margin: 2vh 0;
   border-radius: 3px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.pokeTypeButtonText {
   font-size: 16px;
}